* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Stick No Bills', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color: #a9c9ff;
	background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

.clock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 50px;
	border: 5px double white;
	border-radius: 10px;
	text-align: center;
	color: white;
	-webkit-box-reflect: below 1px
		linear-gradient(transparent, rgba(255, 255, 255, 0.5));
	-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);

	-moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);

	h1 {
		font-size: 4em;
	}

	p {
		font-size: 7em;
	}
}
